.child1-component-layout {
  border-style: solid;
  border-color: blue;
  border-width: 3px;
  padding: 20px;
  margin-top: 20px;
  width: fit-content;
  height: fit-content;
}

h1 {
  color: red;
}

/* Theme for button*/
button {
  background-color: #09a4d8;
  color: rgb(245, 245, 245);
  border: 2px solid #008cba;

  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: #7cd5f3;
  color: white;
}
