<h1>cách 1: change themes by static css file</h1>
<p>
  change static css theme ở runtime ở index.html => easy
  <br />
  Lưu ý: khi deploy product build phải trỏ đúng url css ở server
  <br />
  có thể đổi tên "assets" folder và add nó vào mục "assets" ở angular.json
  <br />
  Mỗi lần thay CSS sẽ download lại CSS mới => cần cache static file
</p>
<p>
  để tránh trong thời gian download new css theme sẽ bị mất theme
  <br />
  ta dùng ajax download css ở background trc (css có cached).
  <br />
  nếu download thành công thì tiến hành đổi theme (nếu fail thì vẫn dùng theme
  cũ)
</p>
<div>
  <button (click)="setTheme('assets/theme1.css')">Theme1</button>
  <button (click)="setTheme('assets/theme2.css')">Theme2</button>
  <button (click)="setTheme('assets/prebuilt-themes/deeppurple-amber.css')">
    Material Theme
  </button>
</div>
<app-child1></app-child1>
<app-child2></app-child2>
